---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tonsys homebase</title>

		<style>
			/* css */

			.lol {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.box {
  display: flex;
  flex-direction: column;
  gap: 10px;


  width: 300px;
  padding: 20px;


  border-radius: 10px;
  background: #f5f5f5;
}


input, textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: black;
  color: white;
  cursor: pointer;
}


button:hover {
  background: #333;
}
		</style>
	</head>
	<body>
         <!-- HTML -->

		<h1>furry</h1>
		<div class="lol">
		<h2>furryyyyyyyy</h2>	
		</div>
		<p>สวัสดีครับบบบบบ</p>
		<p>ยินดีที่ได้รู้จัก</p>
		<a href="http://www.youtube.com/watch?v=msTCxD5-2-Q&list=RDmsTCxD5-2-Q&start_radio=1">:3</a>
        
		<form class="box">
			<h2>ติดต่อเรา</h2>

			<input type="text" placeholder="ชื่อของคุณ">

			<input type="text" placeholder="อีเมล">

			<textarea placeholder="พิมพ์ข้อความ..."></textarea>

			<button type="submit">ส่งข้อความ</button>
		</form>
        
		<script>
			// JS
			
		</script>
	</body>
</html>
